<div class="auth__form">
  <h2>
    <%= I18n.t 'auth.confirm.link' %>
  </h2>

  <%= simple_form_for resource, as: resource_name, url: confirmation_path(resource_name), method: :post do |f| %>

    <%= f.input :email, autofocus: true, required: true, disabled: (user_signed_in? and resource.email.present?) %>

    <%= f.button :submit, I18n.t('auth.confirm.submit'), class: 'btn-primary' %>
  <% end %>

  <%= render "users/shared/links" %>
</div>
