<% if user_signed_in? %>
  <%= simple_form_for [@post, locals[:comment], Reply.new], remote: true do |f| %>

      <div class="form-group">
        <%# if signed_in? %>
            <%#= f.text_field :author, readonly: true, value: current_user.name, class: 'form-control' %>
      <%# else %>
          <%#= f.text_field :author, class: 'form-control', placeholder: 'Name (required)' %>
      <%# end %>
      </div>

      <div class="form-group">
        <% if params.has_key?("reply") %>
          <%= f.input :body, rows: '3', class: 'form-control', autofocus: true %>
        <% else %>
          <%= f.input :body, rows: '3', class: 'form-control' %>
        <% end %>
        <%= f.input :user_id, as: :hidden, input_html: { value: "#{current_user.id}" } %>

      </div>

      <%= f.submit 'Reply', class: 'btn btn-default' %>
  <% end %>
<% end %>
