<% post ||= @post %>
<% comment ||= @comment %>

<% if user_signed_in? %>
  <%= simple_form_for [post, comment, Reply.new], remote: true do |f| %>

      <div class="form-group">
        <%= f.text_area :body, class: 'form-control', placeholder: "Write a comment &hellip;".html_safe, autofocus: params[:reply] %>
        <%= f.input :user_id, as: :hidden, input_html: { value: "#{current_user.id}" } %>
        <%= f.input :comment_id, as: :hidden, input_html: { value: "#{comment.id}" } %>
      </div>

      <%= f.submit 'Reply', class: 'btn btn-primary' %>
  <% end %>
<% end %>
