<h1>UserRelationships#index</h1>

<%= @user.inspect %>

<div class="row">
  <div class="small-11 small-centered columns activity">
    <div class="row">
      <div class="large-12 medium-12 small-12 large-centered medium-centered small-centered columns">
        <center><dl class="sub-nav" id="friend-list-filter">
        <dt>Filter:</dt>

          <dd class="<%= 'active' if params[:list].blank? %>">
            <%= link_to 'All', user_relationships_path %>
          </dd>  
        </dl>
        </center>
      </div>
    </div>
  </div>
</div>

<div class="btn-group">
  <%= link_to("Followers", user_relationships_path, class: "btn btn-primary #{'active' if params[:list].blank?}") %>
  <%= link_to("Following", user_relationships_path(list: 'accepted'), class: "btn btn-primary #{'active' if params[:list] == 'accepted'}") %>
</div>

<%= params %>

<% @user_relationships.each do |r| %>
  <%# follower = r.follower %>
  <br>
  <%= r.inspect %>
  <%#= follower.username %><br><hr>
<% end %>
