<div class="row">
  <div class="small-11 small-centered columns activity">
    <center>
    <h1> <%= current_user.username %>, Here Are Your Favorites</h1>
    </center>
    <hr>
    <div class="main">
      <ul class="cbp_tmtimeline">
      <% @favorites.each do |favorite| %>
        <li>
          <time class="cbp_tmtime" datetime="<%= favorite.created_at %>"><span><%= favorite.created_at.strftime('%a %m/%d/%Y') %></span> <span><%= favorite.created_at.strftime('%l:%M%p') %></span></time>
          <div class="cbp_tmicon cbp_tmicon-phone">
          </div>
          <div class="cbp_tmlabel">
            <h2><%= favorite.user.username %></h2>
            <%= render partial: "favorites/#{favorite.favorable_type.underscore}/favorited", locals: { favorite: favorite } %>
          </div>
        </li>
        <hr>
        <% end %>
      </ul>
    </div>
  </div>
</div>
