<%# if comment.quother %>
  <% comment_class = 'quother' %>
<%# else %>
	<% comment_class = 'visitor' %>
<%# end %>
<%#= vote.inspect %>
<%= div_for comment, class: "#{comment_class}" do %>
  <h4 class="comment-author"><%= comment.user.username %><%#= sanitize(" @ <span class='quoth-typography'> quoth</span>") if comment.quother %></h4>
  <span class="date"><small><%= time_ago_in_words(comment.created_at) %> ago</small></span>

  <p class="comment-content">
    <%= sanitize comment.body, tags: %w(a), attributes: %w(href) %>
  </p>
  <h6 id="replies-count">
    <%= pluralize(comment.replies.length, 'Reply') %>
  </h6>
  <%= link_to "Show Replies", post_comment_path(@post, comment), remote: true %>
  <div class="well replies" id="replies-list<%= comment.id %>">
    <%= render partial: "replies/reply", collection: comment.replies, locals: {comment: comment} %>

    <% if user_signed_in? %>
      <%#= vote_logic_helper(comment) %>
      <% if is_owner?(comment) %>
        <%= link_to '', post_comment_path(comment.post, comment), method: :delete, data: { confirm: 'Delete comment?', confirm_modal: "#delete-post" }, class: 'glyphicon glyphicon-trash text-danger', id: "#{comment.id}_delete", remote: true, title: 'Delete comment', rel: 'tooltip' %>
        <%= link_to '', edit_post_comment_path(comment.post, comment), class: 'glyphicon glyphicon-pencil text-info', id: "#{comment.id}_edit", remote: true, title: 'Edit Comment' %>
      <% end %>

      <div id="reply-form<%= comment.id %>">
        <%= render 'replies/reply_form', locals: {comment: comment} %>
      </div>
    <% end %>
  </div>

  <%# if user_signed_in? %>
    <%# if @post.user.voted_down_on? comment %>
      <%#= test_logic(comment).inspect %>
      <%#= comment.votes(Post) %>
    <%# end %>
        <%#= comment.votes.include?(current_user) %>
          <%#= link_to "Like", like_post_comment_path(comment.post_id, comment) %>
        <%# else %>
          <%#= link_to "UnLike", unlike_post_comment_path(comment.post_id, comment), method: :put %>
        <%# end %>
        <%# if hidden_logic(comment)[:dislike] %>
          <%#= link_to "DisLike", dislike_post_comment_path(comment.post, comment), method: :put %>
        <%# else %>
          <%#= link_to "Undislike", undislike_post_comment_path(comment.post, comment), method: :put %>
        <%# end %>
      <%# end %>
  <%#= test_logic(comment) %>
  <hr>
<%# end %>
<%# comment.each do |comment| %>
  <%#= div_for comment, class: "#{comment_class}" do %>
  <%#= content_tag_for(:div, c) do %>
    <%#= comment.body %>
    <%#= comment.votes.map(&:voter_id).include?(current_user.id) %>
  <% end %>
<%# end %>
