<% resource.email = params[:email] unless resource.email.present? %>
<% signup_link = link_to I18n.t('auth.signup.link'), new_user_registration_path %>

<div class="auth__form">
  <h3 class="title">
    <%= I18n.t('auth.login.title', signup_link: signup_link).html_safe %>
  </h3>

  <%= render 'authentications/providers', flow: 'login', icons: true, color: true %>

  <div class="auth__or">
    <hr>
    <span>
      <%= "or" %>
    </span>
  </div>

  <%= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>

    <%= f.input :email, autofocus: true %>

    <div class="<%= resource.email.blank? ? 'collapse fade' : '' %>">
      <%= f.input :password, required: true do |input| %>
        <% if devise_mapping.recoverable? %>
          <%= link_to I18n.t('auth.forgot.prompt'), new_password_path(resource_name), class: 'pull-right small' %>
        <% end %>
        <%= f.input_field :password, required: true, autocomplete: 'off' %>
        <% if devise_mapping.rememberable? %>
          <%= f.input :remember_me, as: :boolean, boolean_style: :inline, input_html: {value: true} %>
        <% end %>
      <% end %>
    </div>
    <%= f.button :submit, I18n.t('auth.login.link'), class: 'btn-primary' %>
  <% end %>

  <%= render 'users/shared/links', disable_signup: true %>
</div>

<% content_for :on_ready do %>
  $('input[name="user[email]"]').on('click keydown', function(){$(this).closest('form').find('.collapse').addClass('in')});
<% end %>
