<%= content_for :javascripts do %>
  <%= javascript_include_tag 'depend/typed' %>
<% end %>

<div class="row hidden-xs intro-icon-wrapper">
  <div class="col-xs-4">
    <ul class="list-unstyled list-inline">
      <li>
        <i class="intro-icon fa fa-cloud"></i>
      </li>
      <li class="intro-icon-text" id="anywhere-access">
        Anytime, Anywhere Access
      </li>
    </ul>
  </div>

  <div class="col-xs-4"> 
    <ul class="list-unstyled list-inline">
      <li>
        <i class="intro-icon fa fa-lightbulb-o"></i>
      </li>
      <li class="intro-icon-text" id="business-intelligence">
        Business Intelligence
      </li>
    </ul>
  </div>

  <div class="col-xs-4">
    <ul class="list-unstyled list-inline">
      <li>
        <i class="intro-icon fa fa-smile-o"></i>
      </li>
      <li class="intro-icon-text" id="business-simplified">
        Your Business Simplified
      </li>
    </ul>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" id="intro-video-container">
    <div class="embed-responsive embed-responsive-16by9" id="intro-video">
      <div class="intro-video-overlay">
        <h1> Don't have time for a video? </h1>
        <p class="meta-text">
          Checkout our quick view of all the great benefits Thriii can bring to your business!
        </p>
        <%= link_to "Skip To Features", thriii_page_index_path, class: "btn btn-verde-green", tabindex: 0, data: { no_turbolink: true} %>
        <%= link_to "Close", "javascript: $('.intro-video-overlay').remove();", class: "close-video-overlay" %>
      </div>
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/qYLhYF6vZgE?rel=0&amp;controls=0&amp;showinfo=0&amp;modestbranding=1">
      </iframe>
    </div>
  </div>
</div>

<div class="row intro-media-wrapper" style="margin-top: 50px;">
  <h1 class="text-center">
    Seamless 3<sup>rd</sup> Party Integration
  </h1>
  <p class="lead text-center" style="width: 90%; white-space: pre-line; margin: -20px auto 0; text-align: center;">
    Easily integrates your accounting, logistics and other services currently in use
  </p>

  <hr style="width: 50%;">

  <div class="intro-media-support">
    <div class="col-xs-4">
      <img class="img-responsive fb-logo" src="<%= image_url 'freshbooks-logo.png' %>">
    </div>
    <div class="col-xs-4 ss-logo">
      <img class="img-responsive" src="<%= image_url 'shipstation-logo.png' %>">
    </div>
    <div class="col-xs-4 i-logo">
      <img class="img-responsive" src="<%= image_url 'intuit-logo.gif' %>">
    </div>
  </div>
</div>

<br>

<div class="row intro-media-wrapper" style="margin-top: 50px;">

  <h1 class="text-center">
    Inventory Management shouldn't be a chore
  </h1>
  <p class="lead text-center" style="width: 70%; white-space: pre-line; margin: -20px auto 0; text-align: center;">
    If you want your business to work smarter and faster, cloud-based SaaS solutions from Verde Circle is a wise investment. Working in the cloud will give you a better overview of your inventory, finances, trends, customers while reinforcing &amp; improving team collaboration.

    <%= link_to "Learn More", thriii_page_index_path, class: "btn btn-verde-blue" %>
  </p>

</div>
