<% provide(:stylesheets) do %>
  <%= stylesheet_link_tag 'depend/pagepiling', media: 'all' %>
  <%= stylesheet_link_tag 'verdecircle/slidedeck', media: 'all' %>
  <style type="text/css">
    #slidedeck_frame {
      position: absolute;
      width: 901px;
      height: 460px;
      top: 130px;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .spine {
      top: 396px !important;
    }
    .slide {
      width: 750px !important;
      height: 418px !important;
    }
  </style>
<% end %>

<% provide(:add_head_javascript) do %>
  <%= javascript_include_tag "depend/slidedeck" %>
<% end %>

<div id="pagepile-loading">
  <h1>
  <i class="fa fa-spinner fa-spin"></i> Loading &hellip;
  </h1>
</div>

<button type="button" class="btn btn-verde-blue" data-toggle="modal" data-target="#introVideo" style="position: absolute; top: 105px; left: 10px; z-index: 100;">
  View Verde Circle Intro Video
</button>

<ul id="menu" class="nav nav-pills">
  <li role="presentation" data-menuanchor="features" class="active">
    <a href="#features">features</a>
  </li>
  <li role="presentation" data-menuanchor="inventory">
    <a href="#inventory">inventory</a>
  </li>
  <li role="presentation" data-menuanchor="orders">
    <a href="#orders">orders</a>
  </li>
  <li role="presentation" data-menuanchor="fulfillment">
    <a href="#fulfillment">fulfillment</a>
  </li>
  <li role="presentation" data-menuanchor="accounting">
    <a href="#accounting">accounting</a>
  </li>
</ul>

<div id="pagepile">
  <div class="section" id="section1">
    <div class="container-fluid">
      <%= render partial: "pages/thriii/features" %>
    </div>
  </div>

  <div class="section" id="section2">
    <div class="container-fluid">
      <%= render partial: "pages/thriii/inventory" %>
    </div>
  </div>

  <div class="section" id="section3">
    <div class="container-fluid">
      <%= render partial: "pages/thriii/orders" %>
    </div>
  </div>

  <div class="section" id="section4">
    <div class="container-fluid">
      <%= render partial: "pages/thriii/fulfillment" %>
    </div>
  </div>

  <div class="section" id="section5">
    <div class="container-fluid">
      <%= render partial: "pages/thriii/accounting" %>
    </div>
  </div>
</div>

<div class="modal fade" id="introVideo" tabindex="-1" role="dialog" aria-label="introVideo" aria-hidden="true">
  <div class="modal-dialog modal-large">
    <div class="modal-content">
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/qYLhYF6vZgE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% if content_for? :modals %>
  <%= yield :modals %>
<% end %>
