<footer class="verdecircle-footer"> <!--footer start-->
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-lg-4 col-sm-4">
        <h3 class="footer-header">contact info</h1>
        <address>
          <p>Address: 1515 7th Street. #73,</p>
          <p>Santa Monica, CA 90401, USA.</p>
          <p>Phone : (310) 123-1444</p>
          <p>Email : <a href="javascript:;">info@thriii.com</a></p>
        </address>
      </div>
      <div class="col-xs-10 col-lg-4 col-sm-4">
        <h3 class="footer-header">Corporate</h1>
        <ul class="list-unstyled corporate-links">
          <li>
            <%= link_to "Terms", terms_path %>
          </li>
          <li>
            <%= link_to "Privacy", privacy_path %>
          </li>
          <li>
            <%= link_to "Legal", "javascript:;" %>
          </li>
          <li>
            <%= link_to "Press &amp; Media".html_safe, "javascript:;" %>
          </li>
          <li>
            <%= link_to "Careers", "javascript:;" %>
          </li>
          <li>
            <%= link_to "VerdeCircle Team", "javascript:;" %>
          </li>
          <li>
            <%= link_to "Roadmap", "javascript:;" %>
          </li>
        </ul>
      </div>
      <div class="col-xs-10 col-lg-4 col-sm-4">
        <h3 class="footer-header">stay connected</h3>
        <ul class="social-link-footer list-unstyled">
          <li>
            <a href="javascript:;"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
          </li>
          <li>
            <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href="javascript:;"><i class="fa fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer> <!--footer end-->
