<%= simple_form_for(Post.new, html: { class: "form-group", multipart: false }) do |f| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span>Post Form</span>
    </div>
    <div class="panel-body">
      <%= f.input :subject %>
      <div class="row">
        <div class="col-lg-6">
          <%= f.input :tag_list, required: true %>
          <%#= f.input :tag_list, wrapper_html: { class: ("has-error has-feedback" if @post.errors[:tags].any?) }, required: true %>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-4">
          <%= f.input :topic_id, collection: Topic.all.map {|n| [n.name.titleize, n.id]}, include_blank: false, required: true %>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-2">
          <%= f.input :mood, collection: I18n.t("post.mood").map {|k,v| v}, include_blank: true, prompt: I18n.t("post.title").html_safe, input_html: {class: "select optional form-control"} %>
        </div>
      </div>
      <%= f.input :body %>
    </div>
  </div>

  <!-- <div class="panel panel-default">
    <div class="panel-heading">
      <%#= f.label f.object.image? ? "Replace Image" : "Upload Image" %>
    </div>
    <div class="panel-body">
      <%#= f.file_field :image %>
    </div>
  </div>

  <%# if @post.image? %>
    <div class="panel panel-default">
      <div class="panel-heading">
       <div class="checkbox">
          <%#= f.input :image_delete, as: :boolean, label: "Delete Image?" %>
        </div>
      </div>
      <div class="panel-body">
        <%#= image_tag(@post.image.url, class: "img-responsive img-rounded", alt: "Responsive image") %>
      </div>
    </div>
  <%# end %> -->

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
