<%= simple_form_for(@post, html: { class: "form-group", multipart: true }) do |f| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span>Post Form</span>
    </div>
    <div class="panel-body">
      <%= f.input :subject %>
      <%= f.input :tag_list, placeholder: "Tags (separated by commas) e.g., shipping, accounting", wrapper_html: { class: ("has-error" if @post.errors[:tags].any?) }, required: true %>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <%= f.association :topic, label: "Categories", include_blank: false, required: true %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= f.input :mood, collection: I18n.t("post.feelings").map {|k,v| v},include_blank: false, prompt: "I'm Feeling&hellip;".html_safe, input_html: {class: "select optional form-control"} %>
        </div>
      </div>
      <%= f.input :body %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label f.object.image? ? "Replace Image" : "Upload Image" %>
    </div>
    <div class="panel-body">
      <%= f.file_field :image %>
    </div>
  </div>

  <% if f.object.image? %>
    <div class="panel panel-default">
      <div class="panel-heading">
       <div class="checkbox">
          <%= f.input :image_delete, :as => :boolean, :label => "Delete Image?" %>
        </div>
      </div>
      <div class="panel-body">
        <%= image_tag(f.object.image.url, class: "img-responsive img-rounded", alt: "Responsive image") %>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
