<% _tag ||= params[:tag] %>
<% _post ||= @posts %>

<% content_for :welcome do %>
  <%= render partial: "partials/welcome" %>
<% end %>

<% if user_signed_in? %>
  <div class="text-center" data-ajax="newPostForm">
    <%= link_to "New Post", new_post_path, class: "btn btn-primary", id: "new_post_btn", remote: true %>
  </div>
<% end %>

<% if _tag %>
  <div class="alert alert-info">
    <%= "You're viewing post tagged with '#{_tag}'" %> <%= link_to("Back to view all posts", posts_path, class: "pull-right") %>
  </div>
<% end %>

<div id="posts-container">
  <div class="posts-scroll-placeholder">
    <%= render partial: _post %>
  </div>


  <div class="pagination">
    <%= link_to_next_page _post, "Load More", class: "btn btn-primary", remote: true %>
  </div>
</div>
