<% view = params[:tag] ? @posttag : @posts %>

<% content_for :welcome do %>
  <%= render partial: "partials/welcome" %>
<% end %>

<% if user_signed_in? %>
  <div class="form-group text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPost">
      New Post
    </button>
  </div>
<% end %>
<% if params[:tag] %>
  <div class="alert alert-info">
    <%= "You're viewing post tagged with '#{params[:tag]}'" %> <%= link_to("Back to view all posts", posts_path, class: "pull-right") %>
  </div>
<% end %>

<% view.each do |p| %>
  <%#= render partial: "media", locals: { post: p } %>
  <%= render partial: "test", locals: { post: p } %>
<% end %>

<% if !params[:tag] %>
  <%= paginate @posts %>
<% end %>

<div class="modal fade" id="newPost" tabindex="-1" role="dialog" aria-labelledby="newPostModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newPostModal">&nbsp;</h4>
      </div>
      <div class="modal-body">
        <%#= render "form" %>
      </div>
    </div>
  </div>
</div>
