<%# view = params[:tag] ? @posttag : @posts %>

<% content_for :welcome do %>
  <%= render partial: "partials/welcome" %>
<% end %>

<% if user_signed_in? %>
  <div class="text-center" data-ajax="newPostForm">
    <%= link_to "New Post", new_post_path, class: "btn btn-primary", id: "new_post_btn", remote: true %>
  </div>
<% end %>

<% if params[:tag] %>
  <div class="alert alert-info">
    <%= "You're viewing post tagged with '#{params[:tag]}'" %> <%= link_to("Back to view all posts", posts_path, class: "pull-right") %>
  </div>
<% end %>

<div id="posts-container">
  <div class="posts-scroll-placeholder">
    <%# view.each do |p| %>
      <%#= render partial: "media", locals: { post: p } %>
    <%# end %>
    <%# view.each do |p| %>
      <%= render partial: @posts %>
    <%# end %>
  </div>


  <%# unless params[:tag] %>
    <div class="pagination">
      <%= link_to_next_page @posts, "Load More", class: "btn btn-primary", remote: true %>
    </div>
  <%# end %>
</div>

