<div class="panel panel-default">
  <div class="panel-heading">
    <span>Post Form</span>
    <span class="pull-right">
      <% if user_signed_in? %>
        <%= link_to "Favorite Post", favorite_post_path(@post.id), method: :put, class: "fa fa-star" %>
        <%= link_to "Remove Favorite", unfavorite_post_path(@post.id), method: :delete, class: "fa fa-star" %>
      <% end %>
    </span>
  </div>
  <div class="panel-body">
    <%= @post.subject %>
    <%= @post.body %>
  </div>
</div>
<% @post.taggings.each do |t| %>
  <% name = Tag.find(t.tag_id).name %>
  <%= link_to name, tag_path(name) %>
<% end %>

<% if @post.image? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="checkbox">
        <span>Image</span>
      </div>
    </div>
    <div class="panel-body">
      <%= image_tag(@post.image.url, class: "img-responsive img-rounded", alt: "Responsive image") %>
    </div>
  </div>
<% end %>
<div class="panel panel-default">
    <div class="panel-heading">
      <%# if user_signed_in? %>
        <%# if hidden_logic(@post)[:like] %>
          <%#= link_to "Like", like_post_path(@post), method: :put %>
        <%# else %>
          <%#= link_to "UnLike", unlike_post_path(@post), method: :put %>
        <%# end %>
        <%# if hidden_logic(@post)[:dislike] %>
          <%#= link_to "DisLike", dislike_post_path(@post), method: :put %>
        <%# else %>
          <%#= link_to "Undislike", undislike_post_path(@post), method: :put %>
        <%# end %>
      <%# end %>
      <h4 id="comments-count"><%= pluralize(@post.comments.length, 'Comment') %></h4>
  </div>
</div>
<%#= vote = @post.votes.map(&:voter_id) %>
<% vote = @comments.votes(@post).select(:id, :votable_id, :vote_scope) %>
<div id="comments-list">
  <%#= render partial: @comments %>
  <%= render partial: @post.reload.comments, locals: {vote: vote} %>
  <%# @comments.each do |c| %>
    <%#= content_tag_for(:div, c, class: 'visitor') do %>
      <%#= c.body %>
      <%#= @current_user.find_voted_items.include?(c) %>
    <%# end %>
  <%# end %>
</div>

<% if user_signed_in? %>
  <div id="comment-form">
    <%= render 'comments/comment_form' %>
  </div>


  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %> |
  <%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Soft Delete', post_path(@post), method: :delete, data: { confirm: 'This will only be visible to you and can be restored later.' } %>
  | <%= link_to "Permanently Delete", super_delete_post_path(@post.id), method: :delete, data: { confirm: 'Are you sure? You Can\'t restore this. Maybe try soft delete.'} %>
<% end %>
