<div class="panel panel-default">
  <div class="panel-heading">
    <span>Post Form</span>
  </div>
  <div class="panel-body">
    <%= @post.subject %>
    <%= @post.body %>
  </div>
</div>

<% if @post.image? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="checkbox">
        <span>Image</span>
      </div>
    </div>
    <div class="panel-body">
      <%= image_tag(@post.image.url, class: "img-responsive img-rounded", alt: "Responsive image") %>
    </div>
  </div>
<% end %>
<div class="panel panel-default">
    <div class="panel-heading">
      <% if user_signed_in? %>
        <% if hidden_logic(@post)[:like] %>
          <%= link_to "Like", like_post_path(@post), method: :put %>
        <% else %>
          <%= link_to "UnLike", unlike_post_path(@post), method: :put %>
        <% end %>
        <% if hidden_logic(@post)[:dislike] %>
          <%= link_to "DisLike", dislike_post_path(@post), method: :put %>
        <% else %>
          <%= link_to "Undislike", undislike_post_path(@post), method: :put %>
        <% end %>
      <% end %>
      <h4 id="comments-count"><%= pluralize(@post.comments.count, 'Comment') %></h4>
  </div>
</div>
<div id="comments-list">
  <%= render partial: @post.reload.comments %>
</div>

<div id="comment-form">
  <%= render 'comments/comment_form' %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>