<% current_path = (params[:user] == "#{current_user.username.downcase}" ? ["All Activity", activities_path] : ["My Activity", activities_path(user: "#{current_user.username.downcase}")]) %>
<div class="row">
  <div class="small-11 small-centered columns activity">
    <center>
    <h1>Activity Feed</h1>
    <%= link_to current_path[0], current_path[1], class: "btn btn-info"  %>
    </center>
    <hr>
    <div class="main">
      <ul class="cbp_tmtimeline">
      <% @activities.each do |activity| %>
        <li>
          <time class="cbp_tmtime" datetime="<%= activity.created_at %>"><span><%= activity.created_at.strftime('%a %m/%d/%Y') %></span> <span><%= activity.created_at.strftime('%l:%M%p') %></span></time>
          <div class="cbp_tmicon cbp_tmicon-phone">
          </div>
          <div class="cbp_tmlabel">
            <h2><%= activity.user.username %></h2>
            <%= render partial: "activities/#{activity.targetable_type.underscore}/#{activity.action}", locals: { activity: activity } %>
          </div>
        </li>
        <hr>
        <% end %>
      </ul>
    </div>
  </div>
</div>
