<div class="row">
  <div class="small-11 small-centered columns activity">
    <center>
    <h1>Activity Feed</h1>
    </center>
    <hr>
    <div class="main">
      <ul class="cbp_tmtimeline">
      <% @activities.each do |activity| %>
        <li>
          <time class="cbp_tmtime" datetime="<%= activity.created_at %>"><span><%= activity.created_at.strftime('%a %m/%d/%Y') %></span> <span><%= activity.created_at.strftime('%l:%M%p') %></span></time>
          <div class="cbp_tmicon cbp_tmicon-phone">
          </div>
          <div class="cbp_tmlabel">
            <h2><%= activity.user.username %></h2>
            <%= render partial: "activities/#{activity.targetable_type.underscore}/#{activity.action}", locals: { activity: activity } %>
          </div>
        </li>
        <hr>
        <% end %>
      </ul>
    </div>
  </div>
</div>
