<div class="col-sm-4 col-lg-2 hidden-xs">
  <div class="col-xs-12">
    <%= image_tag "vcf.png", class: "img-responsive" %>
  </div>
  <div class="col-xs-12">
    <p>
      <h3 class="text-center">Related News</h3>
    </p>

    <p>
      <h6>
        <a href="javascript:;">The Productivity Tools of Our Dreams</a>
      </h6>
      <p class="text-right">
        <cite>
          Shared by: <a href="javascript:;">Jennifer Tracy</a>
        </cite>
      </p>
    </p>

    <p>
      <h6>
        <a href="javascript:;">Instant Success For A Silicon Valley Style Startup In Belarade</a>
      </h6>
      <p class="text-right">
        <cite>
          Shared by: <a href="javascript:;">Paula Willigar</a>
        </cite>
      </p>
    </p>

    <p>
      <h6>
        <a href="javascript:;">How A Series of Humiliating Events Led to One of the Fastest-growing Startups EVER</a>
      </h6>
      <p class="text-right">
        <cite>
          Shared by: <a href="javascript:;">Jared Tracy</a>
        </cite>
      </p>
    </p>
  </div>

  <div class="col-xs-12 text-center">
    <p>
      <h3>Categories</h3>
    </p>
    <div class="row">
      <div class="col-xs-6 category-sidebar">
        <ul class="list-unstyled">
          <% Topic.first(5).each do |t| %>
            <li>
              <%= link_to(t.pretty_name, t) %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-xs-6 category-sidebar">
        <ul class="list-unstyled">
          <% Topic.last(5).each do |t| %>
            <li>
              <%= link_to(t.pretty_name, t) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <p>
      <h3 class="text-center">Blog Posts</h3>
    </p>

    <% Blog.limit(4).each do |blog| %>
      <p>
        <h6>
          <%= link_to blog.subject.titleize, blog_path(blog) %>
        </h6>
        <p class="text-right">
          <cite>
            Shared by: <%= link_to blog.user.username, profile_page_path(blog.user.username) %>
          </cite>
        </p>
      </p>
    <% end %>
  </div>
</div>
